body{
  background: #1e1e2e;
/* Nav-bar */
.nav-bar{
  display: flex;
  justify-content: center;
  padding: 5px;
}
.item{
  font-size:28px;
  margin-left: 50px;
  margin-right: 50px;
  color: #cdd6f4;
  background-color:#313244;
  padding: 5px;
}
/* Home Page*/
.section{
  margin: 20px; /* Also nav-bar */
  border: 3px solid #313244;
}


/* Section 2 Status */

.section-2{
  display: flex;
  justify-content:center;
  padding: 100px;
}

.image{
  
}
.my-img{
  border-radius: 50%;
  width: 400px;
  position: relative;
}

.intro-text{
  margin: 20px;
}

/* Weapon Section 3*/
.section-3{
  width: 621.33px;
  height: 400px;
  position:absolute;
  top: 516px;
  margin-top: 0px;

  display:flex;
  justify-content:center;
}



.section-4{
  width: 621.33px;
  height: 820px;
  position: absolute;
  margin-left: 661.33px;
  top: 96px;
  margin-top:0px;
   
}


.section-5{
  width: 581.33px;
  height: 820px;
  position: absolute;
  margin-left: 1302.66px;
  top: 96px;
  margin-top:0px;

  display: flex;
  justify-content:center;
}

