*{
  padding: 10px;
  margin: 10px;
}
.bio{
  background-color: #FFAC81;


}
.portfolio{
  background-color: #FF928B;

}
.photo_dumps{
  background-color: #FEC3A6;

}
.contacts{
  background-color: #EFE9AE;


}
